In [1]:
import platform
print(f'Python version: {platform.python_version()}')

Python version: 3.6.4

In [4]:
import pandas as pd

In [12]:
df=pd.read_csv('fr-regions.csv')
df

    id code                        name                       slug
0    1   01                  Guadeloupe                 guadeloupe
1    2   02                  Martinique                 martinique
2    3   03                      Guyane                     guyane
3    4   04                  La Réunion                 la reunion
4    5   06                     Mayotte                    mayotte
5    6   11               Île-de-France              ile de france
6    7   24         Centre-Val de Loire        centre val de loire
7    8   27     Bourgogne-Franche-Comté    bourgogne franche comte
8    9   28                   Normandie                  normandie
9   10   32             Hauts-de-France            hauts de france
10  11   44                   Grand Est                  grand est
11  12   52            Pays de la Loire           pays de la loire
12  13   53                    Bretagne                   bretagne
13  14   75          Nouvelle-Aquitaine         nouvelle aquitaine
14  15   76                   Occitanie                  occitanie
15  16   84        Auvergne-Rhône-Alpes       auvergne rhone alpes
16  17   93  Provence-Alpes-Côte d'Azur  provence alpes cote dazur
17  18   94                       Corse                      corse
18  19  COM   Collectivités d'Outre-Mer   collectivites doutre mer